@import url('../../libraries/fonts/Muli-Bold.ttf');
@import url('../../libraries/fonts/Muli-SemiBold.ttf');
@import url('../../libraries/fonts/Muli.ttf');

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Muli', sans-serif;
    background-color: #01e2e8;
}

.bg-img {
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: 70% 0;
    padding-bottom: 2rem;

    /* position: relative; */

}

.main-img { background-image: url('../img/bg/bg-1-home.jpg'); }

.header {
    background: url(../img/bg/bg-1-home.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
}

.header .navbar {
    background-color: transparent !important;
}

#navbarNav .navbar-nav .nav-item {
    align-self: center;
}

#navbarNav .navbar-nav .nav-item a {
    color: #ffffff;
    font-weight: normal;
}

.bg-color {
    background-color: #01e2e8;
}

.bg-service {
    height: 80%;
    position: relative;
}

.bg-brands, .bg-contact {
    height: 50%;
}

.about-pop { 
    background-color: #fff;
    color: #000000;
    border: 10px solid #fff;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    height: 25%;
    padding: 20px;
    text-align: center;
    display: flex;
}

.about-pop .about-img {
    height: 100%;
}

.about-pop .about-img img{
    width: 100%;
    height: 100%;
}

footer {
    height: 50%;
    background-color: #ffffff;
    bottom: 0px;
}