@import url('../../libraries/fonts/Muli-Bold.ttf');
@import url('../../libraries/fonts/Muli-SemiBold.ttf');
@import url('../../libraries/fonts/Muli.ttf');

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

body, html {
    height: 100%;
    font-family: 'Muli', sans-serif;
    /* background-color: #01e2e8; */
}

.bg-img {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-position: 100vh 0;
    position: relative;

}

.main-img { 
    background-image: url('../img/bg/bg-1-home.jpg'); 
    max-height: 100vh;
    object-fit: cover;
}

.header {
    background: url(../img/bg/bg-1-home.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
}

.header .navbar {
    background-color: transparent !important;
}

#navbarNav .navbar-nav .nav-item {
    align-self: center;
}

#navbarNav .navbar-nav .nav-item a {
    color: #ffffff;
    font-weight: normal;
}

.bg-color {
    background-color: #01e2e8;
    position: inherit;
}

.bg-service {
    height: 100%;
    position: inherit;
}

.bg-brands {
    height: 60%;
    position: inherit;
}

.bg-contact {
    height: 80%;
    position: inherit;
}

.about-main { 
    color: #fff;
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    height: 50%;
    padding: 20px;
    text-align: center;
    display: flex;
}

.about-main .txt-span{
    font-size: 12px !important;
    font-weight: lighter !important;
}

.about-pop { 
    background-color: #fff;
    color: #000000;
    border: 10px solid #fff;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    height: 25%;
    text-align: center;
    display: flex;
}

.about-pop .about-img {
    height: 100%;
}

.about-pop .about-img img{
    width: 100%;
    height: 100%;
}

.about-pop .about-text {
    color: #023a47;
}

.img-services img{
    width: 100%;
}

#btn-contact {
    background-color: #c91a98;
    color: #fff;
    width: 60%;
    position: absolute;
    left: 180px;
    z-index: 1001;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-contact {
    height: 26px;
}

#btn-contact:focus, .input-contact:focus {
    box-shadow: 0 0 0 0.25rem rgb(225 25 169 / 25%) !important;
}

.btn-default-blue {
    background-color: #043947;
    color: #ffffff;
    font-size: 12px !important;
    padding: 0px !important;
    width: 20%;
    height: 10%;
}

.btn-default-blue:hover {
    color: #ffffff;
    box-shadow: 0 0 0 0.25rem rgb(4 57 71 / 20%) !important;
}

.btn-default {
    background-color: #ffffff;
    color: #043947;
    font-size: 12px !important;
    padding: 0px !important;
    width: 20%;
    height: 10%;
}

.btn-default:hover {
    background-color: #043947;
    color: #fff;
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 20%) !important;
}

.default-select {
    background: #01e2e8;
    background-image: url("../img/row-down.png");
    background-repeat: no-repeat;
    background-position: right center;
    color: #fff;
    padding: 0px;
    margin-bottom: 2px !important;
    border: 0px !important;

    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.default-select-blue {
    background: #01e2e8;
    background-image: url("../img/row-down-blue.png");
    background-repeat: no-repeat;
    background-position: right center;
    color: #043947;
    padding: 0px;
    margin-bottom: 2px !important;
    border: 0px !important;

    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.p-select {
    color: #023a47;
    font-size: 12px !important;
    padding: 0px;
    width: 450px;
    position: absolute;
    line-height: 14px;
    margin-bottom: 0px;
}

.border-select {
    background: #043947;
    padding: 0px;
    margin: 0px;
}

.default-select:focus, .default-select-blue:focus {
    box-shadow: none;
    border: 0px;
}

.projects {
    background: #01e2e8;
}

.main .carousel-inner img{
    max-height: 100vh;
    object-fit: cover;
}

#carousel {
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: rgba(0, 0, 0, alpha0.5);
    color: #fff; */
}

.font-color-default {
    color: #043947;
}

#carousel .overlay .container-fluid ,
#carousel .overlay .row {
    height: 100%;
}

#carousel .overlay #portafolio-content {
    background-color: rgba(255, 255, 255, 0.6);
    color: #043947;
    padding: 10px;
    height: 200px;
}

#portafolio-content .p-content {
    width: 450px;
    height: 80px;
}

#portafolio-content .p-default {
    color: #023a47;
    font-size: 12px !important;
    padding: 0px;
    position: absolute;
    width: 450px;
    line-height: 14px;
    margin-bottom: 0px;
}

#portafolio-content a {
    text-decoration: none;
    color: #043947;
    font-size: 12px !important;
}

#portafolio-content .portafolio-next img{
    border-radius: 100%;
}

.bg-brands .container-fluid ,
.bg-brands .row {
    height: 100%;
}

.bg-brands #friends-img img{
    width: 90%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.bg-brands #friends-places .nav .nav-item a {
    text-decoration: none;
    font-size: 12px !important;
    padding: 0 30px 5px 0;
}

.bg-brands #friends-places .nav .nav-item a:nth-child(1):hover {
    color: #fff;
}

.bg-brands #friends-places .nav .nav-item a:nth-child(1):focus {
    color: #043947;
}

#friends-places + .p-content {
    width: 320px;
    height: 50px;
}

#friends-places + .p-content .p-default {
    color: #023a47;
    font-size: 12px !important;
    padding: 0px;
    position: absolute;
    width: 320px;
    line-height: 14px;
    margin-bottom: 0px;
}

.img-contact img{
    width: 95%;
}

.bg-contact .contact-sub {
    font-size: 12px !important;
}

.default-input {
    background: #01e2e8;
    color: #043947;
    padding: 0px;
    margin-bottom: 2px !important;
    border: 0px !important;
    font-size: 12px !important;

    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.border-input {
    background: #043947;
    padding: 0px;
    margin: 0px;
}

.default-input:focus{
    box-shadow: none;
    background: #01e2e8;
    color: #043947;
    padding: 0px;
    margin-bottom: 2px !important;
    border: 0px !important;
    font-size: 12px !important;

    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

footer {
    height: 55%;
    background-color: #ffffff;
    bottom: 0px;
}

footer #footer-links ul {
    padding: 0px !important;
}

footer #footer-links ul li a {
    text-decoration: none;
    font-size: 12px !important;
    padding: 0 0 5px 0;
    color: #043947;
}

#footer-links .p-content {
    width: 400px;
    height: 80px;
}

#footer-links .p-default {
    color: #023a47;
    font-size: 12px !important;
    padding: 0px;
    position: absolute;
    width: 400px;
    line-height: 14px;
    margin-bottom: 0px;
}